@import "mapas.less";

@brackpointMobile: ~"(max-width: 767px)";
@brackpointTablet: ~"(min-windth: 768px) and (max-width: 1023px)";

.marginBotton8 {
    margin-bottom: 8px;
}
.fontSize14 {
    font-size: 14px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

// NOVO: ANIMAÇÃO DE FUNDO
body {
    /* Gradiente linear de 5 cores */
    background: linear-gradient(45deg, #1A237E, #4A148C, #004D40, #FF6F00, #C62828);
    background-size: 400% 400%;
    /* Fluxo contínuo para a esquerda */
    animation: gradient-animation 30s linear infinite; 
    /* Fixa o fundo para que o conteúdo possa rolar sobre ele */
    background-attachment: fixed;
    color: #color[textColor];
}

// NOVO: KEYFRAMES
@keyframes gradient-animation {
    0% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
}

li {
    list-style: none; 
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    
    /* CORREÇÃO PARA PERMITIR A ROLAGEM */
    display: block; /* Garante que o container se comporta como bloco */
    padding-top: 56px; /* Espaçamento no topo */
    padding-bottom: 56px; /* Espaçamento na base */
    position: relative; 
    z-index: 2; /* Garante que o conteúdo fique acima do fundo */

    @media @brackpointMobile {
        max-width: 70%;
    }
    
    @media @brackpointTablet {
        max-width: 80%;
    }

    header {
        padding-bottom: 24px;
        .profile-avatar { 
            display: block;
            margin: 0 auto 24px;
            border-radius: 50%;
        }
    }
}

.profile-bio {
    text-align: center;
    &-name {
        font-size: 16px;
        .marginBotton8();
    }

    &-subtitle {
        .fontSize14();
        .marginBotton8();
    }

    &-description {
        .fontSize14();
        opacity: 0.7;
    }
}

.social-links {
    display: flex;
    justify-content: space-between;
    max-width: 240px;
    width: 100%;
    margin: 0 auto;
    li {

        img {
            transition: all ease 0.3s;
            &:hover {
                transform: scale(1.2);
            }
        };
    }
}

.projects-list {
    margin-top: 32px;
    &-item {
        a {
            text-decoration: none;
            background-color: #color[buttonColor];
            display: block;
            padding: 16px 20px;
            margin-bottom: 16px;
            text-align: center;
            color: #color[textColor];
            font-weight: bold;
            border-radius: 30px;
            border: 2px solid #color[buttonColor];
            transition: all ease .5s;
            &:hover {
                background-color: transparent;
                color: #color[buttonColor];
            }
        }
    }
}